.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-image: linear-gradient(
    rgb(49, 49, 228),
    rgb(161, 161, 226),
    rgb(49, 49, 228)
  );
  color: white;
  padding: 50px 0px;
  min-height: 100vh;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input,
select,
button {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  /* box-shadow: 1px 1px 1px 1px rgb(37, 37, 201); */
  border: none;
}

button {
  background-image: linear-gradient(rgb(0, 99, 212), rgb(16, 16, 141));
  color: white;
}

button:hover {
  transform: scale(1.2);
}

.weatherItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
}

.weatherItem {
  width: 400px;
  background-image: linear-gradient(rgb(0, 99, 212), rgb(16, 16, 141));
  border-radius: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px 30px;
  margin-bottom: 50px;
}

.rowContainer {
  width: 100%;
}

.rowContainer.eachDayWeather {
  display: flex;
  justify-content: space-between;
}
.smallInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img {
  height: 80px;
  width: 80px;
}

.nextDay {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: small;
  background-color: rgb(62, 136, 247);
  padding: 10px;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: small;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.firstSection {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

h1 {
  padding: 0px;
}

.closeButton {
  background-color: rgb(32, 32, 207);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;

}

.closeButton:hover {
  opacity: 1;
}



@media only screen and (max-width: 1500px) {
  .weatherItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .weatherItems {
    display: grid;
    grid-template-columns: 1fr;
  }
}
